.header {
  z-index: 1000;
}

h1 {
  margin-right: auto;
}

.header-logo {
  color: white;
  display: block;
  text-decoration: none;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}

.avatar {
  background: center/cover #ccc;
}
