<mat-toolbar class="header">
  <div class="header__items">
    <h1>
      <a class="header__logo" routerLink="/">
        <span data-text="O">O</span>
        <span data-text="R">R</span>
        <span data-text="U">U</span>
        <span data-text="Y">Y</span>
        <span data-text="O">O</span>
      </a>
    </h1>
    <a routerLink="/editor" class="header__create">チームをつくる</a>
  </div>
  <ng-content></ng-content>
  <ng-container *ngIf="authService.user$ | async as user; else blank">
    <button
      class="avatar"
      [style.background-image]="
        user?.avatarURL
          ? 'url(' + user?.avatarURL + ')'
          : 'url(/assets/images/fake.svg)'
      "
      mat-fab
      [matMenuTriggerFor]="menu"
    ></button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item routerLink="/my-page">
        <mat-icon>account_circle</mat-icon>
        <span>マイページ</span>
      </a>
      <a mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>設定</span>
      </a>
      <button (click)="authService.logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </ng-container>
  <ng-template #blank>
    <button mat-raised-button color="accent">ログイン</button>
  </ng-template>
</mat-toolbar>
