.nav-btn {
  height: 100%;
  background: #171c1e;
  padding: 0 8px;
  position: absolute;
  right: 0;
}

.sidenav {
  background: #171c1e;
}

mat-icon {
  color: #fff;
}

.card-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.user-card {
  padding: 24px;
  display: grid;
  grid-template-rows: auto 1fr;
  &__items {
    img {
      width: 64px;
      height: 64px;
      border: 2px solid #ddd;
      background-color: #eee;
      border-radius: 50%;
    }
  }
}
