<div class="container">
  <h2>参加者一覧</h2>
  <ng-container *ngIf="users$ | async as users">
    <swiper
      class="swiper"
      [freeMode]="true"
      [loop]="true"
      [roundLengths]="true"
      [width]="240"
      [height]="120"
      [autoplay]="true"
    >
      <ng-container *ngFor="let user of users">
        <div class="card-layout">
          <ng-template swiperSlide>
            <div class="user-card">
              <div class="user-card__items">
                <img
                  [src]="
                    user?.avatarURL ? user?.avatarURL : 'assets/images/fake.svg'
                  "
                  alt="アバター画像"
                />
                <span [class.active]="user?.activeRoomId === roomId"></span>
                <p class="user-card__name">{{ user?.name }}</p>
              </div>
              <button matRipple class="user-card__profile">プロフィール</button>
            </div>
          </ng-template>
        </div>
      </ng-container>
    </swiper>
  </ng-container>

  <ng-container *ngIf="entryLogs$ | async as entryLogs">
    <ng-container *ngFor="let entryLog of entryLogs">
      <p>{{ entryLog }}</p>
    </ng-container>
  </ng-container>
</div>
