.heading {
  margin: 48px 0 24px;
  &__text {
    font-weight: 500;
  }
}

.divider {
  margin-bottom: 32px;
}

.room {
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  background: #fff;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
  margin-bottom: 16px;
  overflow: hidden;
  transition: ease-in-out 0.3s;
  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  &__thumbnail {
    align-self: center;
  }
  &__icon {
    display: block;
    margin: 0 auto;
  }
  &__body {
    padding: 16px;
  }
  &__name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__description {
    opacity: 0.6;
  }
}
